<?xml version="1.0"?>
<!--
/**
 * Copyright © 2024 Line. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route id="line" frontName="line">
            <module name="Line_Payment" />
        </route>
    </router>

</config>
